button {
    border: none;
    width: 180px;
    height: 60px;
}

.manage {
    background-color: rgb(196, 77, 196);
    height: 10vh;
}

.button-menu-section {
    background-color: darkslateblue;
}

.button-side-menu-section {
    background-color: rgb(130, 121, 187);
    width: 250px;
    height: 90vh;
    padding-top: 20px;
}

.button-menu-section button:hover {
    background-color: darkmagenta;
}

.button-side-menu-section button:hover {
    background-color: darkmagenta;
}

.button-side-menu-section button {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.table {
    width: calc(100% - 250px);
    background-color: coral;
    height: 90vh;
}

