button {
    border: none;
    width: 180px;
    height: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border-radius: 5px;
}

.manage {
    background-color: rgb(196, 77, 196);
    height: 10vh;
}

.button-menu-section {
    background-color: darkslateblue;
}

.button-side-menu-section {
    background-color: rgb(130, 121, 187);
    width: 250px;
    height: 80vh;
}

.button-menu-section button:hover {
    background-color: darkmagenta;
}

.button-side-menu-section button:hover {
    background-color: darkmagenta;
}

.button-side-menu-section button {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.card {
    display: inline-block;
    vertical-align: middle;
    background-color: coral;
    /* border: -1px solid red; */
}

.table {
    width: calc(100% - 250px);
    height: 80vh;
}

.border {
    width: 100%;
    height: 100%;
    border: 1px red solid;
}

